.center {
 margin-left: 36%;
  width: 50%;
  padding: 10px;
}

.title-container {
   height: auto;
   width: auto;
   background-image: url('images/background-banner.gif');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.arial-text {
  font-family: 'Roboto';
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 125%;
}

body {
  background-color: #1C1C1C ;
}

.sase-logo {
  margin-top: -1%;
  margin-left: 41%;
  width: 10%;
}

.line {
  margin-top: -5%;
}

.ou-logo {
  margin-top: 1%;
  width: 75%;
  margin-left: 46%;
}

.text-centered {
  text-align: center;
}

.image-section {
  margin-top: 1%;
}

.group-pictures {
  margin-top: 1%;
  width: auto;
  height: auto;
}

/* Entire social-logos div  */
.social-logos {
	display: flex;
	background-color: #1C1C1C ;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	overflow: hidden;
  padding-top: 0px;
}

/* Each image will have these set traits */
.social-logos img {
	padding: 10px;
	margin-top: 2px;
	width: 80px;
	height: 80px;
	object-fit: contain;
}

/* Icon animation when hovering */
#icon:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/*CAROUSEL LOGIC*/
/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #1C1C1C ;
  overflow: hidden;
  align-items: center;
  padding-bottom: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  justify-content: center;
  padding: 15px 5px;
  text-decoration: none;
  font-size: min(1.2vw, 10px);
}

@layer demo {
	.carousel {
		--items: 6;
		--carousel-duration: 40s;
		@media (width > 600px) {
			--carousel-duration: 30s;
		}
		--carousel-width: min(
			80vw,
			1200px
		); /* note - it will "break" if it gets too wide and there aren't enough items */
		--carousel-item-width: 380px;
		--carousel-item-height: 210px;
		--carousel-item-gap: 2rem;

		--clr-cta: rgb(0, 132, 209);

		position: relative;
		width: var(--carousel-width);
		height: var(--carousel-item-height);
		overflow: clip;

		&[mask] {
			/* fade out on sides */
			mask-image: linear-gradient(
				to right,
				transparent,
				black 10% 90%,
				transparent
			);
		}

		&[reverse] > article {
			animation-direction: reverse;
		}
		
	}
	.carousel > article {
		position: absolute;
		top: 0;
		left: calc(100% + var(--carousel-item-gap));
		width: var(--carousel-item-width);
		height: var(--carousel-item-height);
		display: grid;
		grid-template-rows: 200px auto 1fr auto;
		gap: 0.25rem;
		border: 1px solid light-dark(rgba(0 0 0 / 0.25), rgba(255 255 255 / 0.15));

		padding-block-end: 1rem;
		border-radius: 10px;
		background: light-dark(white, rgba(255 255 255 / 0.05));
		color: light-dark(rgb(49, 65, 88), white);

		/* animation */
		will-change: transform;
		animation-name: marquee;
		animation-duration: var(--carousel-duration);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-delay: calc(
			var(--carousel-duration) / var(--items) * 1 * var(--i) * -1
		);
		&:nth-child(1) {
			--i: 0;
		}
		&:nth-child(2) {
			--i: 1;
		}
		&:nth-child(3) {
			--i: 2;
		}
		&:nth-child(4) {
			--i: 3;
		}
		&:nth-child(5) {
			--i: 4;
		}
		&:nth-child(6) {
			--i: 5;
		}
	}
	.carousel img {
		width: 105%;
		height: 105%;
		object-fit: cover;

		border-radius: 10px 10px 0 0;
	}

	@keyframes marquee {
		100% {
			transform: translateX(
				calc(
					(var(--items) * (var(--carousel-item-width) + var(--carousel-item-gap))) *
						-1
				)
			);
		}
	}
}

/* CAROUSEL STYLING LOGIC*/
@layer base {
	* {
		box-sizing: border-box;
	}
	:root {
    color-scheme: light dark;

    --bg-dark: rgb(2, 6, 24);
    --bg-light: rgb(229, 229, 229);
    --txt-light: rgb(10, 10, 10);  /* almost black */
    --txt-dark: rgb(245, 245, 245);
}

body {
    background-color: light-dark(var(--bg-light), var(--bg-dark));
    color: var(--txt-light);  /* force dark text */
    min-height: 100svh;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    font-family: "Abel", sans-serif;
    line-height: 1.5;
    display: grid;
    place-items: center;
    gap: 2rem;
	  font-family: 'Abel';
  	font-style: normal;
}
}

/*Custom button*/
button {
  max-height: 50px;
  position: relative;
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background-color:  rgb(61, 106, 255);
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin: 1%
}

button:hover {
  background: rgb(61, 106, 255);	
  box-shadow: 0 0 30px 5px rgb(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: flex;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


/*Twitter About Section*/
/* From Uiverse.io by Yaya12085 */ 

/* All the twitter boxes */
.twitter-box {
  display: flex;
}

/* For the upcoming events section */
#upcoming-events {
  align-items: center;
}

/* Individual twitter boxes */
.task {
  flex: 1 1 200px;
  position: relative;
  color: #2e2e2f;
  cursor: move;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-bottom: 1rem;
  border: 3px dashed transparent;
  max-width: 400px;
  margin-right: 20px;
}

.task p {
  font-size: 110%;
  margin: 1.2rem 0;
}

.tag {
  border-radius: 100px;
  padding: 4px 13px;
  font-size: min(2.4vw, 150%);
  color: #ffffff;
  background-color: #1389eb;
}

.tags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  background: transparent;
  border: 0;
  color: #c4cad3;
  font-size: 17px;
}

.options svg {
  fill: #9fa4aa;
  width: 20px;
}

.stats {
  position: relative;
  width: 100%;
  color: #9fa4aa;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats div {
  margin-right: 1rem;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.stats svg {
  margin-right: 5px;
  height: 100%;
  stroke: #9fa4aa;
}

.viewer span {
  height: 30px;
  width: 30px;
  background-color: rgb(28, 117, 219);
  margin-right: -10px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: grid;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #fff;
  padding: 2px;
}

.background {
  background-color: white;
  border-radius: 5px;
  width: 85%;
  text-align: center;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
